---
---

@import "minima";

body {
  background-color: #f5e6cc; /* A very dark gray that's easy on the eyes */
  color: #2b2b2b; /* Light text for readability */
}

.wrapper {
  max-width: 900px !important;
}
